.nav-button{
    text-align:center;
    height:50px;
    background-color:darkgray;
    padding-top:10px;
}
    .nav-button:hover {
        text-align: center;
        height: 50px;
        background-color: gray;
        padding-top: 10px;
    }