.google-button {
    height: 70px;
    width: 150px;
    background-color:coral;
    border: none;
    color: white;
    border-radius: 5px;
}

.facebook-button {
    height: 70px;
    width: 150px;
    background-color: dodgerblue;
    border: none;
    color: white;
    border-radius: 5px;
    font-size:14px;
}

.aboutus-button {
    height: 70px;
    width: 150px;
    background-color: coral;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}